@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* styles/globals.css */
.font-mont {
  font-family: 'Montserrat', sans-serif !important;
}

.font-opensans {
  font-family: 'Open Sans', sans-serif !important;
}

.font-roboto {
  font-family: 'Roboto', sans-serif !important;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #001B2E;
    --foreground: #ededed;
  }
}

.linier-gradient-left-to-right{
  background: linear-gradient(126.27deg, #0052CC -281.63%, #001B2E 42.23%);

}
.linier-gradient-right-to-left {
  background: linear-gradient(200deg, #0052CC -281.63%, #001B2E 42.23%);
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
